@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,500&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat');



/* header */

header {
  width: 100%;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
#topMenu{
  position: absolute;
  top: 20px;
  left: 3%;
  width: 42%;
}
#topMenu>ul>li {
  float:left;
  margin-right: 18px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.all {
  margin-right: 6px;
}
.mobile {
  display: none;
}
#topMenu a {
  color: black;
}
#topMenu a:hover {
  color: #C90000;
}
.innerMenu {
  display: none;
  position: absolute;
  background-color: white;
  width: 60px;
  border: 1px solid #555;
  padding: 20px;
  margin-left: -35px;
  text-align: center;
  font-weight: 300;
}
.innerMenu li {
  padding: 5px 0;
}
.dRoom {
  margin-left: -25px;
}
#topMenu>ul>li:hover .innerMenu {
  display: block;
}

#logo {
  position: absolute;
  top: 15px;
  left: 46%;
}

#gnbItem {
  position: absolute;
  top: 22px;
  right: 4%;
  width: 42%;
}
#gnbItem ul {
  float: right;
}
#gnbItem li {
  float: left;
  margin: 0 0 15px 12px;
  font-size: 11px;
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -1.5px;
}
#gnbItem a {
  color: black;
}
#gnbItem a:hover {
  color: #C90000;
}
#sch_cart {
  text-align: right;
}

@media screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  #topMenu li:not(.mobile) {
    display: none;
  }
  .mobile img {
    width: 180%;
  }
  .mobile {
    margin-left: 10px;
  }
  #logo {
    left: 43%;
  }
  #gnbItem {
    display: none;
  }
}



/* blind */

#blind {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}



/* gnbM */

#gnbM {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #F6F6F6;
  margin-left: -250px;
}
#navHeader {
  width: 250px;
}
#navHeader img {
  width: 250px;
  height: 60px;
}
#close {
  position: absolute;
  top: -10px;
  right: -6px;
  color: white;
  font-size: 23px;
  font-weight: 600;
  padding: 26px;
  cursor: pointer;
}
#gMenu {
  font-size: 18px;
  letter-spacing: -3px;
  cursor: pointer;
}
#gMenu>li {
  padding-top: 14px;
  border-bottom: 1px solid #BDBDBD;
}
.lMenu {
  width: 100%;
  font-size: 18px;
  display: none;
}
.etcMenu {
  display: block;
}
.login {
  text-align: right;
  padding: 10px 20px;
}
.login:before {
  content: '';
  background: url('../img/login.png') no-repeat center;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 70px;
  background-size: 18px;
}
.lMenu table {
  width: 100%;
}
.lMenu td {
  text-align: center;
  border: 1px solid #aaa;
  padding: 10px;
  width: 50%;
}
.lMenu td:first-child {
  border-left: none;
}
.lMenu td:nth-child(2) {
  border-right: none;
}
.lMenu .odd td {
  text-align: left;
  padding-left: 18%;
}
.gMenus {
  position: relative;
  text-indent: 20px;
  margin-bottom: 10px;
}
.gMenus:after {
  background: url(../img/arrow_down.png) no-repeat center;
  background-size: auto 6px;
  content: '';
  position: absolute;
  right: 30px;
  top: 6px;
  transition: transform 0.2s;
  width: 11px;
  height: 6px;
}
.rotate {
  color: #C90000;
}
.rotate:after {
  transform: rotate(180deg);
}



/* moveHeader */

#moveHeader {
  z-index: 5;
  width: 100%;
  height: 55px;
  position: fixed;
  background-color: rgba(255,255,255,0.95);
  display: none;
}



/* allMenuPopup */

#allMenuPopup {
  display: none;
  z-index: 6;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f0f0f0;
  outline: 1px solid #aaaaaa;
  width: 75%;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #aaa;
}
.topLine {
  height: 1px;
  width: 82%;
  background-color: #aaaaaa;
  position: absolute;
  top: 50px;
  left: 10px;
}
.allMenuLine {
  width: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 80px;
  height: 85%;
}
.allMenu {
  float: left;
  width: 12%;
  height: 660px;
  background-color: white;
  text-align: center;
}
.allMenuTitle {
  margin: 15px 0;
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -1.5px;
  font-size: 17px;
  font-weight: 500;
}
.allMenuBody {
  margin-top: 40px;
}
.allMenuSubtitle {
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -1.5px;
  font-size: 14px;
  font-weight: 600;
}
.allMenuBody ul {
  margin-top: 15px;
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -1.5px;
  font-size: 13px;
}
.allMenuBody li {
  margin-bottom: 10px;
}
.allMenuBody hr {
  width: 16px;
  margin: 15px auto;
  border: none;
  border-top: 1px solid #e0e0e0;
}
.allMenu.right {
  float: right;
  width: 13%;
}
.allMenuTitle.right {
  margin: 200px 0 50px;
}
.allMenuBody.right {
  margin-top: 40px;
  line-height: 30px;
  font-size: 14px;
}
.allMenuTitle, .allMenuSubtitle, .allMenuBody li {
  cursor: pointer;
}
.allMenuTitle:hover, .allMenuSubtitle:hover, .allMenuBody li:hover {
  color: #C90000;
}
@media screen and (max-width: 850px) {
  #allMenuPopup {
    width: 90%;
  }
}



/* footer */

footer {
  padding: 30px 200px 10px;
  margin-top: 50px;
  border-top: 1.4px solid #A6A6A6;
}
.footerMenu li {
  display: inline-block;
  cursor: pointer;
}
.footerMenu {
  margin-top: 10px;
}
.footerMenu, address, .copyright {
  font-size: 14px;
  letter-spacing: -1px;
}
.footerMenu li+li {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid;
  margin-top: 15px;
}
address {
  font-style: normal;
  margin: 10px 0;
  line-height: 20px;
}
.sns {
  margin-left: 10px;
}
.sns img {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  footer {
    padding: 30px 10px 10px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    text-align: center;
  }
  .footerMenu li+li {
    margin-left: 10px;
    padding-left: 10px;
  }
  .sns {
    display: block;
    margin-top: 10px;
  }
}
