/* customer */

.customer {
  border: 1px solid #aaa;
  width: 150px;
  height: 300px;
  position: absolute;
  top: 120px;
  left: 20px;
  padding-left: 25px;
  padding-top: 15px;
  letter-spacing: -1.5px;
  background-color: white;
}
.cst {
  font-size: 17px;
  color: black;
  line-height: 80px;
  cursor: default;
}
.cstMenu {
  line-height: 40px;
  font-size: 15px;
  color: #aaa;
  cursor: pointer;
  width: 90px;
}
.cstChoice {
  color: #C90000;
}
.cstContainer {
  padding-top: 130px;
  text-align: center;
  letter-spacing: -1.5px;
}
.notice, .as, .move, .oneOnOne {
  margin-left: 5%;
}
.cstHeader {
  font-size: 35px;
  margin-bottom: 20px;
}
.cstHeadSub {
  font-size: 17px;
  line-height: 24px;
}
.cstBody {
  margin: 50px 20% 100px;
}
.cstm .cstBody {
  background-color: #EAEAEA;
  margin: 50px 0 100px;
}
.cstday span {
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  height: 45px;
}
.cstday span:nth-child(2) {
  margin-left: 20px;
  border-left: 0.5px solid #aaa;
  padding-left: 20px;
}
.cstday span:nth-child(3) {
  display: block;
  margin-top: 30px;
}
.cstday p {
  font-size: 15px;
  margin-top: 8px;
}
.cstCall {
  color: #C90000;
  font-size: 80px;
  padding-top: 70px;
  padding-bottom: 50px;
  letter-spacing: 10px;
}
.cstExp {
  line-height: 30px;
  margin-top: 50px;
  padding-bottom: 70px;
  color: gray;
}
.cstExp span:nth-child(2) {
  display: block;
}
.cstBody table {
  display: inline-table;
}
.notice tr {
  line-height: 60px;
}
.notice td:first-child {
  width: 100px;
}
.notice td:nth-child(2) {
  width: 500px;
  display: inline-flex;
  padding-left: 50px;
  line-height: 30px;
  text-align: left;
}
.notice td:nth-child(3) {
  width: 110px;
}
.notice tr:first-child {
  color: #aaa;
  line-height: 30px;
  border-top: 1.5px solid #aaa;
}
.ctsSbj {
  cursor: pointer;
}
.ctsSbj:hover {
  color: #C90000;
}
.contents {
  text-align: left;
  border-top: 1.5px solid #EAEAEA;
}
.contents div {
  display: none;
  background-color: #EAEAEA;
  padding: 100px;
}
.contents p {
  line-height: 30px;
}
.contents a {
  text-decoration: underline;
  color: #C90000;
}
.contents p+p {
  margin-top: 30px;
}
.ctsBold {
  font-weight: bold;
}
.cstCnt {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 30px;
  width: 20px;
  height: 15px;
  padding: 6px 3px;
  margin: 70px auto 150px;
  font-size: 14px;
}
.asMenu {
  margin-bottom: 30px;
  width: 100%;
}
.asMenu td {
  width: 25%;
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
}
.asMenu td:not(.asMenuChoice) {
  border: 1.5px solid #aaa;
}
.asMenu td:not(.asMenuChoice):not(:nth-child(4)) {
  border-right-width: 0;
}
.asMenuChoice {
  color: #C90000;
  border: 1.5px solid #C90000;
}
.asBase {
  text-align: left;
  display: inline-block;
  width: 680px;
}
.asBase ul {
  font-size: 18px;
  line-height: 50px;
  text-indent: -15px;
}
.asBase li {
  font-size: 15px;
  color: #8C8C8C;
  line-height: 30px;
  text-align: left;
  list-style-type: disc;
  text-indent: 0;
}
.asBase ul:nth-child(2) {
  margin-top: 30px;
}
.fee div {
  border: 0.5px solid #aaa;
  display: inline-block;
  width: 40%;
  height: 200px;
  vertical-align: middle;
}
.fee div:nth-child(5) {
  width: 45%;
}
.fee span {
  margin: 0 10px;
}
.fee .block {
  display: block;
  margin: 20px 0;
}
.fee p:first-child {
  line-height: 100px;
}
.fee p:nth-child(2) {
  line-height: 20px;
  color: #8C8C8C;
}
.feeSbj {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.asFee>div+div {
  margin-top: 50px;
}
.asProcess {
  margin-top: 20px;
}
.asProcess div {
  border: 0.5px solid #aaa;
  line-height: 70px;
  padding: 0 30px;
  font-size: 17px;
}
.asProcess span:first-child {
  float: left;
  color: #C90000;
}
.asProcess div+div {
  margin-top: 20px;
}
.asPeriod {
  text-align: left;
}
.prd1 {
  color: #C90000;
  margin-bottom: 20px;
}
.prd2 {
  margin-bottom: 15px;
}
.prd2 p {
  line-height: 30px;
}
.prd2 span {
  color: #8C8C8C;
  margin-left: 30px;
}
.gray {
  color: #8C8C8C;
}
.prd3 p {
  line-height: 27px;
  color: #aaa;
  font-size: 15px;
}
.asPeriod>div+div {
  margin-top: 50px;
}
.asBtn {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 100px;
}
.asBtn.red {
  background-color: #C90000;
  border: 1px solid #C90000;
}
.asBtn.red:hover {
  background-color: #A50000;
  border: 1px solid #A50000;
}
.asBtn.gray {
  background-color: #63666A;
  border: 1px solid #63666A;
}
.asBtn.gray:hover {
  background-color: #4C4C4C;
  border: 1px solid #4C4C4C;
}
.asBtn+.asBtn {
  margin-left: 10px;
}
.oneOnOne .cstBody {
  background-color: #EAEAEA;
  padding: 200px 0 250px;
}
.oneOnOne .cstBody p {
  line-height: 33px;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .customer {
    width: 130px;
    height: 250px;
    top: 80px;
    padding-top: 0;
  }
  .cstMenu {
    line-height: 30px;
  }
  .notice td:nth-child(2) {
    width: 350px;
    padding-left: 30px;
  }
  .notice, .as, .move, .oneOnOne {
    margin-left: 10%;
  }
  .asBase {
    width: 440px;
  }
  .oneOnOne .cstBody {
    padding: 100px 0 150px;
  }
  .cstHeadSub span {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .customer {
    display: none;
  }
  .notice, .as, .move, .oneOnOne {
    margin-left: 0;
  }
  .notice .cstBody, .oneOnOne .cstBody {
    margin: 50px 5%;
  }
  .as .cstBody, .move .cstBody {
    margin: 50px 10%;
  }
  .asBase {
    width: 90%;
  }
  .cstCnt {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .cstCall {
    font-size: 60px;
  }
  .cstExp span:first-child {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .notice td:nth-child(2) {
    width: 250px;
    padding-left: 15px;
  }
  .asBtn {
    width: 48%;
  }
  .asBtn+.asBtn {
    margin-left: 3px;
  }
}
@media screen and (max-width: 400px) {
  .notice td:nth-child(2) {
    width: 200px;
  }
}




/* aboutiloom */

.about {
  height: 260px;
}
.about .cstMenu {
  width: 110px;
}
.brandStory .cstBody {
  background-color: white;
}
.bsBtn {
  margin: 80px 0;
}
.bsBtn button {
  border: 1.5px solid;
  width: 220px;
  height: 50px;
  font-size: 16px;
  letter-spacing: -1.5px;
  background-color: white;
  cursor: pointer;
}
.bsBtn button:not(.bsChoice) {
  color: #aaa;
}
.bsBtn button:hover {
  color: #C90000;
}
.bsChoice {
  color: #C90000;
}
.bs1 iframe {
  width: 80%;
  height: 500px;
  margin-top: 30px;
}
.bs1 p, .story p:nth-child(2) {
  font-size: 30px;
  letter-spacing: -3px;
}
.bs2 {
  margin-top: 100px;
}
.story p:first-child {
  margin-bottom: 50px;
}
.story b {
  color: #C90000;
  border-bottom: 1px solid;
  font-size: 20px;
  font-weight: bold;
}
.story p:nth-child(2) {
  margin-bottom: 30px;
}
.story p:nth-child(3) {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 27px;
}
.bsHeader {
  width: 100%;
}
.story+.story {
  margin-top: 100px;
}
.bsImg img {
  width: 95%;
}
.bsImg .half {
  width: 48%;
}
.bsImg img+img {
  margin-top: 20px;
}
.aboutContainer .cstBody {
  margin: 50px 0 0;
}
.aboutContainer>div {
  margin: 0;
}
.brandHistory img {
  width: 48%;
}
.brandHistory img+img {
  margin-top: 20px;
}
.gvHeader {
  margin-bottom: 100px;
  width: 95%;
}
.groupValues .story p:first-child {
  margin-bottom: 30px;
}
.gv3 {
  width: 100%;
}
.gv3 img {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.coreValue img {
  width: 90%;
}
.gv3 img:nth-child(6) {
  margin-bottom: 200px;
}

@media screen and (max-width: 800px) {
  .about {
    height: 200px;
  }
  .about .cst {
    line-height: 60px;
  }
  .bs1 iframe {
    height: 350px;
  }
  .story p:nth-child(3) {
    padding: 0 10%;
  }
}
@media screen and (max-width: 600px) {
  .bs1 iframe {
    width: 95%;
  }
  .bsImg .half {
    width: 95%;
  }
  .bsBtn button {
    width: 35%;
  }
  .brandHistory img {
    width: 95%;
  }
  .gv3 img {
    width: 95%;
    float: none;
  }
}
