/* mainImg */

.mainImg {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.mainImg img {
  padding-top: 85px;
  margin-left: -20%;
}



/* goodProduct */

.goodProduct {
  width: 100%;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 15px;
  text-align: center;
}
.goodProduct dl {
  display: inline-block;
  width: 1160px;
  margin: 0 8px 50px;
}
.goodProduct.two dl {
  width: 568px;
}
.goodProduct dd {
  overflow: hidden;
  margin-bottom: 20px;
}
.goodProduct.two dd img {
  margin-left: -52%;
}
.goodProduct dt {
  line-height: 25px;
}

.border-bottom {
  border-bottom: 1px solid #E0E0E0;
  height: 2px;
}



/* category */

.category {
  padding: 0 40px 80px;
}
.subject {
  font-size: 33px;
  letter-spacing: -4px;
  padding: 75px 0 35px;
  text-align: center;
}
.sortProduct, .sortSeries {
  border: 1px solid #aaaaaa;;
  margin: 10px;
}
.sortProduct {
  height: 58px;
}
.itemSubject, .seriesSubject {
  font-weight: bold;
  padding: 20px 0;
  width: 120px;
  text-align: center;
  float: left;
}
.itemList li, .seriesList li {
  float: left;
  margin-right: 45px;
  padding: 20px 0;
}
.sortSeries {
  height: 115px;
}
.seriesSubject {
  padding: 50px 0;
}
.betweenLine {
  border-bottom: 1px solid #aaaaaa;
  width: 85%;
  position: relative;
  top: 58px;
  left: 120px;
}



/* choice / best */

.choice {
  margin-bottom: 70px;
}
.choiceList {
  margin: 0 20px;
  text-align: center;
}
.choiceList li {
  display: inline-block;
  width: 23.5%;
}
.choiceList li+li {
  margin-left: 13px;
}
.choiceList img {
  width: 100%;
  margin-bottom: 20px;
}
.choiceList p {
  text-align: left;
  font-size: 14px;
  letter-spacing: -1.5px;
  line-height: 20px;
}
.choiceList span:first-child {
  font-weight: bold;
}
.choiceList span:nth-child(2) {
  margin-left: 5px;
}
.choiceList span:nth-child(4) {
  color: #C90000;
}



/* allProduct */

.allProduct {
  border-top: 1.5px solid #666666;
  margin: 55px 20px 0;
}
.array {
  padding: 35px 0;
}
.array ul {
  float: right;
}
.array li {
  float: left;
  margin-left: 10px;
  font-size: 13px;
  letter-spacing: -1.5px;
}
.array li:first-child {
  color: #C90000;
}
.allProduct .choiceList {
  margin: 0 0;
}
.choiceList li {
  margin-top: 35px;
}
.listCnt {
  width: 100%;
  margin: 80px 0 120px;
  text-align: center;
}
.listCnt li {
  display: inline-block;
  width: 5px;
  margin-right: 10px;
  font-size: 14px;
  padding: 6px 10px;
}
.listCnt li:first-child {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 30px;
}
