.seriesHeader {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
}
.seriesHeader p {
  padding-top: 80px;
  font-size: 35px;
}
.seriesCategory {
  text-align: center;
}
.seriesCategory li {
  display: inline-block;
  padding: 35px 20px 30px;
  letter-spacing: -1.5px;
}
.seriesCategory li:first-child {
  color: #C90000;
}
.series {
  margin-top: 50px;
  text-align: center;
}
.series ul {
  text-align: center;
  margin-top: 60px;
}
.series li {
  display: inline-block;
}
.series li+li {
  margin-left: 8px;
}
.series img {
  width: 400px;
}
.series p {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: -1.5px;
}
